.navbar{
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 200px;
  &__brand{
    height: 200px;
    width: 200px;
    background-size: 200px;
  }
  &__mainLogo{
    background-repeat: no-repeat;
    background-image: url("~logo2.png");
  }
  &-nav{
    & > li{
      margin-left: 20px;
      &:first-child{
        margin-left: 0px;
      }
      .commonNavIcon{
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
      .profile-icon{
        background-image: url("~parts3.png");
      }
    }
  }
}
