.main{
  border: 1px solid black;
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
  padding: 100px 75px 100px;
  text-align: center;
}

.form-logo{
  background-repeat: no-repeat;
  background-image: url("~logo2.png");
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
}
footer{
  margin-top: auto;
}

#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


